.containerNotFound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    /* da sonst nicht genau Mitte */
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}